h1 {
    background-color: hsl(200, 18%, 46%);
    color: #ffffff;
    text-align: center;
  }

form {
    background-color: white;
    display: block;
    margin-top: 0em;
    margin-left: 1em;
    margin-right: 1em;
    font-family: monospace;
    font-size: 30px;    
}

input[type=text] {
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=text]:focus {
    border-color:#333;
}

input[type=submit] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}
